<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/tedescomicchidev/index.json" />
        <!--<add key="local" value="/mnt/c/Users/mitedesc/code/mopt_example/library/bin/Debug" />-->
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="tedescomicchidev" />
            <add key="ClearTextPassword" value="TOKEN" />
        </github>
    </packageSourceCredentials>
</configuration>