<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/tedescomicchidev/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="tedescomicchidev" />
            <add key="ClearTextPassword" value="38a0b4133cc9738381410793b891af92c11583d0" />
        </github>
    </packageSourceCredentials>
</configuration>